### Create a simple sample data set with spatial and temporal dimensions

In [1]:
import pandas as pd
import random

In [2]:
n = 1000

lat = [random.uniform(50, 60) for x in range(n)]
lon = [random.uniform(5, 15) for x in range(n)]
dtg = random.sample(list(pd.date_range('20090101', '20120110', freq='1H'))*n, n)
cause = random.sample(['Category A', 'Category B', 'Category C']*n, n)

In [3]:
data = pd.DataFrame({'dtg': dtg,
                     'lat': lat,
                     'lon': lon,
                     'cause': cause})

In [4]:
data.head()

                  dtg        lat        lon       cause
0 2010-06-17 19:00:00  56.408205   7.293647  Category A
1 2010-12-13 00:00:00  53.329417   5.727799  Category B
2 2010-08-07 08:00:00  57.620723  13.655753  Category B
3 2009-08-31 23:00:00  57.033131   5.295737  Category B
4 2009-03-18 22:00:00  51.599984  12.160338  Category C

In [5]:
data.describe()

               lat          lon
count  1000.000000  1000.000000
mean     54.829381     9.885264
std       2.853631     2.895259
min      50.002552     5.008054
25%      52.269452     7.355112
50%      54.847118     9.911907
75%      57.304390    12.331044
max      59.970026    14.977379

In [6]:
data.to_csv('data_sample.csv')